h1 {
    text-align: center;
    color: whitesmoke;
    size: 80px;
    font-weight: bold;
    font-size: 90px;
    height: 50px;
    width: 100%;
    padding: 120px;
    padding-left: 5px;
    margin: 0px;
}

p {
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    display: block;
    height: auto;
    width: auto;
    margin: 40px;
}

.hau {
    font-family: 'Nunito', sans-serif;
    background-image: url(images-01.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    padding: 2px;
}

.donate-align {
    text-align: center;
    background-color: red;
    width: 150px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
}

.donate {
    color: white;
    text-decoration: none;
}

.para {
    color: gray;
    margin: 5px;
}

.bl {
    color: black;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

.tk {
    display: flex;
    padding-left: 230px;

}

.tk10 {
    color: darkslategrey;
    background-color: whitesmoke;
    width: 150px;
    padding: 20px;
    border-radius: 10px;
}


.tk20 {
    color: darkslategrey;
    background-color: whitesmoke;
    width: 150px;
    padding: 20px;
    border-radius: 10px;
}


.tk50 {
    color: darkslategrey;
    background-color: lightcoral;
    width: 150px;
    padding: 20px;
    border-radius: 10px;
}


.tk100 {
    color: darkslategrey;
    background-color: whitesmoke;
    width: 150px;
    padding: 20px;
    border-radius: 10px;
}

.new {
    font-family: 'Nunito', sans-serif;
}

#box {
    padding-left: 150px;
    width: 220px;
    margin-left: 575px;
}

.scnd-donate {
    background-color: red;
    width: 150px;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.donatee {
    text-align: center;
    padding: 50px;
}

.our {
    color: black;
}

.page {
    color: black;
}

.donate-plan {
    font-family: 'Montserrat', sans-se
}

.food-f {
    color: black;
}

.sltr {
    color: black;
}

.edctnn {
    color: black;
}

.familyy {
    display: flex;
    margin: auto;
    padding: 20px;
}

.family {
    background-color: lightblue;
    text-align: center;
    border-radius: 15px;
}

.shelter {
    background-color: bisque;
    text-align: center;
    border-radius: 15px;
}

.edu {
    background-color: pink;
    text-align: center;
    border-radius: 15px;
}

.fh {
    color: black;
}

.fourth {
    display: flex;
    padding: 100px;
}

.picture {
    size: 0px;
    width: 60%;
}

.frth {
    width: 50%;
    text-align: center;
    size: 80px;
    font-size: large;
    font-weight: bold;
    height: 50px;
    margin: 80px;
    font-family: 'Montserrat', sans-serif;
}

.how {
    color: white;
    background-color: red;
    width: 150px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
}

.lst {
    color: black;
}

.lt {
    color: black;
    padding: 2px;
}

.final {
    display: flex;
    background-color: bisque;
    padding: 60px;
    width: 700px;
    text-align: center;
    margin: auto;
}

.lastt {
    background-color: whitesmoke;
    padding: 20px;
    padding-right: 250px;
}

.laast {
    background-color: rgb(244, 146, 146);
    padding: 20px;
    padding-right: 300px;
}

.last {
    font-family: 'Montserrat', sans-serif;
}

.finish {
    background-color: black;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.fnsh {
    color: firebrick;
    font-family: 'Lobster', cursive;
}

.fns {
    font-family: 'Hind', sans-serif;
}